<div class="row">
  <div class="col-md-12 text-center">
    <div class="well controls">
      <%= link_to calendar_path(date: @date - 1.month), class: "btn btn-default" do %>
        <i class="glyphicon glyphicon-backward"></i>
      <% end %>
      <%= "#{@date.strftime("%B")} #{@date.year}" %>
      <%= link_to calendar_path(date: @date + 1.month), class: "btn btn-default" do %>
        <i class="glyphicon glyphicon-forward"></i>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= calendar @date do |date| %>
      <%= date.day %>
      <% if @employee["workday"].include? date %>
        <div>
            <%= @employee["name"]  %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="row text-center">
    <h1>Employees</h1>
    <div class="col-md-12">
        
    </div>
</div>