<div class="row">
  <div class="col-md-12 text-center">
    <div class="well controls">
      <%= link_to calendar_path(date: @date - 1.month), class: "btn btn-default" do %>
        <i class="glyphicon glyphicon-backward"></i>
      <% end %>
      <%= "#{@date.strftime("%B")} #{@date.year}" %>
      <%= link_to calendar_path(date: @date + 1.month), class: "btn btn-default" do %>
        <i class="glyphicon glyphicon-forward"></i>
      <% end %>
    </div>
  </div>
</div>
<div class="col-md-12 text-center">
  <%= button_to  "Go to Scheduler", new_workday_path, :method => :get %>
</div> <br/>
<div class="row">
  <div class="col-md-12">
    <%= calendar @date do |date| %>
        <%= date.day %>
        <% @employees.each do |employee| %>
            <% if employee.workdays.find_by(:date => date) %>
                <% workday = employee.workdays.find_by(:date => date) %>
                  <div>
                      <%= employee.initials+ ":" + workday.schedule %>
                  </div>
            <% end %>
        <% end %>
    <% end %>
  </div>
</div>
<div class="row text-center">
    <h1>Employees</h1>
    <% @employees.each do |employee| %>
        <div class="col-md-12">
            <%= employee.full_name %>    
        </div>
    <% end %>
        
</div>