<%= form_for @workday do |f| %>
    <br/>
    <% User.all.each do |user| %>
        <%= f.check_box "id", {multiple: true}, user.id %>
        <%= user.full_name %>
    <% end %>
    <div class="field">
        <%= f.label :date %>
        <%= f.date_field :date %>
    </div>

    <div class="field">
        <%= f.label :start_time %>
        <%= f.select :start_hour, ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"]%>
        <%= ":" %>
        <%= f.select :start_min, ["00", "15", "30", "45"] %>
        <%= f.select :start_am_or_pm, ["AM", "PM"] %>
    </div>

    <div class="field">
        <%= f.label :end_time %>
        <%= f.select :end_hour, ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"]%>
        <%= ":" %>
        <%= f.select :end_min, ["00", "15", "30", "45"] %>
        <%= f.select :end_am_or_pm, ["AM", "PM"] %>
    </div>

    <div class="actions">
        <%= f.submit "Add Schedule Event" %>
    </div>
<% end %>